body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

label {
  display: block;
  margin: 0.5rem;
}

input {
  display: block;
  width: 10rem;
  padding: 0.4rem;
  font-size: 1rem;
}